@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
  --background: #16161a;
  --primary: #fffffe;
  --secondary: #2cb67d;
  --shadow: #72757e;
  --button: #7f5af0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::selection {
  background-color: transparent;
}

h2 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 5em;
  background-image: linear-gradient(120deg, #a6fec8 0%, #5bc961 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
